<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alyal</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Lista de ícones disponíveis
            var favicons = [
                '../static/heart.png',
                '../static/heart.png',
                '../static/heart.png',
                '../static/heart.png',
                '../static/heart.png',
                '../static/broken_heart.png'
            ];

            // Escolhe um ícone aleatoriamente
            var randomFavicon = favicons[Math.floor(Math.random() * favicons.length)];

            // Cria a tag link do favicon
            var link = document.createElement('link');
            link.rel = 'icon';
            link.type = 'image/png';
            link.href = randomFavicon;

            // Adiciona a tag link ao head
            document.head.appendChild(link);
        });
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">Alyal</div>
            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <nav>
                <ul>
                    <li><a href="#home" class="scroll-link">Início</a></li>
                    <li><a href="#about" class="scroll-link">Sobre</a></li>
                    <li><a href="#matriculate" class="scroll-link">Inscrever-se</a></li>
                    <li><a href="#faqs" class="scroll-link">FAQ's</a></li>
                    <li><a href="{{ url_for('main.login') }}" target="_blank">Área do aluno <span
                                class="material-symbols-outlined" style="margin-left: 5px;">
                                account_circle
                            </span></a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <div class="container1 fade-in" id="home">
            <div class="carousel" id="carouselExample">
                <div class="carousel-slides">
                    <div class="carousel-item" data-content="conteudo-python">
                        <div class="c1">
                            <h1>Python</h1>
                            <h2>Introdução ao Python</h2>
                            <p>Aprenda a utilizar Python para análise de dados, uma habilidade essencial no mercado
                                atual. Este treinamento cobre desde os fundamentos até técnicas avançadas de manipulação
                                e
                                visualização de dados, preparando você para enfrentar desafios reais do mundo dos
                                negócios.</p>
                        </div>
                        <div class="c2">
                            <img src="../static/Pythonlogo.png" alt="Imagem representando Python">
                        </div>
                    </div>

                    <div class="carousel-item active" data-content="conteudo-ml">
                        <div class="c1">
                            <h1>Machine Learning</h1>
                            <h2>Aplicado para Negócios</h2>
                            <p>Participe do nosso treinamento <b>presencial</b> e aprenda a desenvolver e aplicar
                                modelos de Machine Learning em projetos de negócios. Capacite-se para evoluir na sua
                                carreira atual ou fazer uma transição para a área de ciência de dados. Ideal para
                                analistas financeiros, profissionais de TI e qualquer pessoa interessada em transformar
                                dados em decisões estratégicas.</p>
                        </div>
                        <div class="c2">
                            <img src="../static/barin2.png" alt="Imagem representando Machine Learning">
                        </div>
                    </div>
                </div>
                <a class="carousel-control prev" role="button" data-slide="prev">
                    <span class="material-symbols-outlined">chevron_left</span>
                </a>
                <a class="carousel-control next" role="button" data-slide="next">
                    <span class="material-symbols-outlined">chevron_right</span>
                </a>
            </div>
        </div>


        <div id="conteudo-ml" class="conteudo-programatico">
            <div class="container2 fade-in">
                <div class="cc2">
                    <h1>Conteúdo Programático</h1>
                    <p>Este treinamento intensivo cobre os seguintes tópicos, oferecendo uma abordagem prática para
                        capacitar os
                        profissionais em Machine Learning.</p>
                </div>
                <div class="cc1">
                    <div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                menu_book
                            </span>
                            <h2>Módulo 1</h2>
                            <p>Fundamentos de Machine Learning</p>
                        </div>

                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                calculate
                            </span>
                            <h2>Módulo 2</h2>
                            <p>Algoritmos de Machine Learning com Python</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                database
                            </span>
                            <h2>Módulo 3</h2>
                            <p>Machine Learning em Big Data</p>
                        </div>
                    </div>
                    <div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                waves
                            </span>
                            <h2>Módulo 4</h2>
                            <p>Introdução ao Deep Learning</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                tsunami
                            </span>
                            <h2>Módulo 5</h2>
                            <p>Modelos Avançados de Deep Learning</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                verified
                            </span>
                            <h2>Módulo 6</h2>
                            <p>Projeto Prático e Apresentação de Resultados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="conteudo-python" class="conteudo-programatico" style="display: none;">
            <div class="container2">
                <div class="cc2">
                    <h1>Conteúdo Programático</h1>
                    <p>Este treinamento intensivo de Python para iniciantes é projetado para fornecer uma introdução
                        abrangente e prática à linguagem Python, ideal para aqueles que estão começando sua jornada na
                        programação. Ao longo de seis aulas, cada uma com duas horas de duração, os alunos serão guiados
                        através de conceitos fundamentais e práticos, garantindo uma compreensão sólida e aplicável do
                        Python.</p>
                </div>
                <div class="cc1">
                    <div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                code
                            </span>
                            <h2>Módulo 1</h2>
                            <p>Introdução à Programação e Python</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                functions
                            </span>
                            <h2>Módulo 2</h2>
                            <p>Estruturas de Controle e Funções</p>
                        </div>
                        <div class="modulos" style="color: black;">
                            <span class="material-symbols-outlined" style="color: #131313;">
                                integration_instructions
                            </span>

                            <p>Projetos práticos</p>
                        </div>
                    </div>
                    <div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                build
                            </span>
                            <h2>Módulo 3</h2>
                            <p>Projetos Práticos</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                table_chart
                            </span>
                            <h2>Módulo 4</h2>
                            <p>Manipulação de Dados</p>
                        </div>
                        <div class="modulos">
                            <span class="material-symbols-outlined">
                                view_module
                            </span>
                            <h2>Módulo 5</h2>
                            <p>Módulos, Pacotes e Ambientes Virtuais</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="container-valor fade-in" id="valores">
            <h1>Valor do Investimento</h1>
            <h2 class="subtitulo-valor">Invista na sua carreira com os melhores preços e condições de pagamento</h2>
            <div class="valores-cursos">

                <div class="curso">
                    <h2>Python para Iniciantes</h2>
                    <img src="../static/python.png" alt="Python Logo">
                    <p class="parcelado">Por apenas 6x de <span>R$190,00</span></p>
                    <p style="color: #666;">ou</p>
                    <p class="a-vista"><strong>R$1000 à vista</strong><span class="desconto">14% OFF</span></p>

                    <p class="a-vista2"><strong>R$1000 à vista</strong><br><span class="desconto">14% OFF</span></p>
                </div>

                <div class="curso">
                    <h2>Machine Learning Aplicado</h2>
                    <img src="../static/artificial-intelligence.png" alt="AI Logo">
                    <p class="parcelado">Por apenas 6x de <span>R$360,00</span></p>
                    <p style="color: #666;">ou</p>
                    <p class="a-vista"><strong>R$2000 à vista</strong><span class="desconto">8% OFF</span></p>

                    <p class="a-vista2"><strong>R$2000 à vista</strong><br><span class="desconto">8% OFF</span></p>
                </div>
                
            </div>
        </div>



        <div class="container3 fade-in" id="about">
            <h1>Sobre o Instrutor</h1>

            <div class="sobre">
                <div class="textoSobre">

                    <p>Me chamo Wagner Andrade, sou um profissional de Tecnologia da Informação especializado em Análise
                        e
                        Desenvolvimento de Sistemas, atuando no mercado de tecnologia a mais de 5 anos.
                        <br><br>
                        Com 28 anos, tenho uma paixão profunda por tecnologia e me dedico a explorar e implementar
                        soluções
                        inovadoras que atendam às complexas necessidades do ambiente empresarial moderno.
                        Minha expertise inclui habilidades avançadas em machine learning e engenharia de inteligência
                        artificial, áreas nas quais possuo certificações renomadas, como IBM AI Engineering, Visão
                        Computacional e Processamento de Imagens, Deep Learning com TensorFlow e PyTorch. Meu foco atual
                        é o
                        estudo aprofundado de algoritmos de machine learning, com o objetivo de integrar essa
                        competência ao
                        meu repertório técnico para desenvolver soluções baseadas em dados que possam transformar
                        insights
                        em ações estratégicas.
                        <br><br>
                        Acredito firmemente que a inovação tecnológica é a pedra angular para o avanço de qualquer
                        setor.
                        Com isso em mente, esforço-me continuamente para aprimorar minhas habilidades e conhecimentos,
                        antecipando e enfrentando desafios tecnológicos. Minha busca constante por conhecimento e a
                        aplicação prática de soluções inovadoras definem o núcleo da minha jornada profissional.
                    </p>
                </div>

                <div>
                    <img src="../static/WagnerAndrade.png" alt="">
                    <h2>Wagner Andrade</h2>
                </div>
            </div>
        </div>

        <div class="container4 fade-in" id="matriculate">
            <h1 id="titulo-pre">Formulário de Pré-Inscrição</h1>
            <div id="pre-inscricao-form" class="pre-inscricao-form">
                <form id="form-pre-inscricao" method="POST" action="{{ url_for('main.index') }}">
                    <div>
                        <h2>Nome</h2>
                        <input type="text" name="nome" id="nome" required>
                    </div>
                    <div>
                        <h2>E-mail</h2>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div>
                        <h2>Celular</h2>
                        <input type="tel" name="telefone" id="telefone" required>
                    </div>
                    <div>
                        <h2>Treinamento</h2>
                        <select name="treinamento" id="treinamento">
                            <option value="Python">Python</option>
                            <option value="Machine Learning">Machine Learning</option>
                        </select>
                    </div>
                    <button type="submit">Inscrever-se</button>
                </form>

            </div>
            <div id="success-message" style="display: none;" class="mensagemSucesso">
                <h1>Pré-Inscrição feita com sucesso!</h1>
                <span class="material-symbols-outlined">verified</span>
                <p>Parabéns! Você deu o primeiro passo para uma carreira de sucesso</p>
                <p>Nossa equipe entrará em contato em breve para confirmar sua inscrição e fornecer mais detalhes</p>
            </div>
        </div>

        <div class="container5 fade-in" id="faqs">
            <h1>FAQ's</h1>
            <div class="faqs">
                <div>
                    <div class="faq-item">
                        <h2><span class="material-symbols-outlined">help</span> Preciso ter conhecimento prévio em
                            programação?</h2>
                        <p>Não é necessário saber programação, mas é recomendável para melhor aproveitamento do
                            treinamento.</p>
                    </div>
                    <div class="faq-item">
                        <h2><span class="material-symbols-outlined">help_outline</span> O que preciso para acompanhar o
                            treinamento?</h2>
                        <p>Para acompanhar o treinamento, você precisará trazer um notebook e uma conta gratuita no
                            Google Colab.</p>
                    </div>
                </div>
                <div>
                    <div class="faq-item">
                        <h2><span class="material-symbols-outlined">help_outline</span> Qual a duração do treinamento?
                        </h2>
                        <p>Nosso treinamento tem duração de 6 dias, 3 vezes por semana 2 semanas
                        </p>
                    </div>
                    <div class="faq-item">
                        <h2><span class="material-symbols-outlined">help_outline</span>Qual a forma de pagamento?</h2>
                        <p>Oferecemos pagamento facilitado em boleto ou parcelado em até 6 vezes no cartão de crédito
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--
    <div id="videoModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <iframe width="640" height="355" src="https://www.youtube.com/embed/72dEb03ZvGE?si=BE1p6J9dXPsOAK29"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
-->


    <footer>
        <div class="footer-container">
            <p>São José dos Campos, São Paulo, Brasil</p>
            <p>© 2024 Alyal. Todos os direitos reservados.</p>
        </div>

        <div class="footer-container">
            <p>E-mail: <a href="mailto:contato@alyal.com.br">contato@alyal.com.br</a></p>
        </div>
        <div class="footer-container">
            <h2>Redes Sociais</h2>
            <div class="footer-social">
                <a href="https://www.linkedin.com/in/wagnerfa/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/watch?v=S4s8Ua4hk50" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/alyaltreinamentos/" target="_blank"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>

    </footer>

    <script>
        function toggleMenu() {
            const nav = document.querySelector('nav');
            nav.classList.toggle('active');
        }

        // Smooth scrolling for navigation links
        document.querySelectorAll('.scroll-link').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

        // Fade-in effect on scroll
        const faders = document.querySelectorAll('.fade-in');
        const appearOptions = {
            threshold: 0,
            rootMargin: "0px 0px -50px 0px"
        };

        const appearOnScroll = new IntersectionObserver(function (entries, appearOnScroll) {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    entry.target.classList.add('appear');
                    appearOnScroll.unobserve(entry.target);
                }
            });
        }, appearOptions);

        faders.forEach(fader => {
            appearOnScroll.observe(fader);
        });

        // Highlight form fields on focus
        const formFields = document.querySelectorAll('form input');

        formFields.forEach(field => {
            field.addEventListener('focus', () => {
                field.parentElement.style.transform = 'scale(1.05)';
                field.parentElement.style.boxShadow = '0 4px 8px rgba(0,0,0,0.2)';
            });

            field.addEventListener('blur', () => {
                field.parentElement.style.transform = 'scale(1)';
                field.parentElement.style.boxShadow = 'none';
            });
        });

    </script>


    <script>
        document.getElementById('form-pre-inscricao').addEventListener('submit', function (event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('pre-inscricao-form').style.display = 'none';
                        document.getElementById('titulo-pre').style.display = 'none';
                        document.getElementById('success-message').style.display = 'block';
                    } else {
                        alert('Ocorreu um erro ao enviar o formulário. Por favor, tente novamente.');
                    }
                })
                .catch(error => {
                    console.error('Erro:', error);
                    alert('Ocorreu um erro ao enviar o formulário. Por favor, tente novamente.');
                });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slides = document.querySelectorAll('.carousel-item');
            const conteudos = document.querySelectorAll('.conteudo-programatico');
            let currentSlide = 0;
            const interval = 4000; // 8 segundos
            let autoSlideInterval;

            function showSlide(index) {
                const totalWidth = slides.length * 100;
                const newTranslate = index * -100;
                document.querySelector('.carousel-slides').style.transform = `translateX(${newTranslate}%)`;

                // Esconder todos os conteúdos programáticos
                conteudos.forEach(conteudo => {
                    conteudo.style.display = 'none';
                });

                // Mostrar o conteúdo programático correspondente ao slide atual
                const activeSlide = slides[index];
                const contentId = activeSlide.getAttribute('data-content');
                document.getElementById(contentId).style.display = 'block';
            }

            function startAutoSlide() {
                autoSlideInterval = setInterval(() => {
                    currentSlide = (currentSlide + 1) % slides.length;
                    showSlide(currentSlide);
                }, interval);
            }

            function stopAutoSlide() {
                clearInterval(autoSlideInterval);
            }

            document.querySelector('.carousel-control.next').addEventListener('click', () => {
                currentSlide = (currentSlide + 1) % slides.length;
                showSlide(currentSlide);
                stopAutoSlide(); // Para a rotação automática
            });

            document.querySelector('.carousel-control.prev').addEventListener('click', () => {
                currentSlide = (currentSlide - 1 + slides.length) % slides.length;
                showSlide(currentSlide);
                stopAutoSlide(); // Para a rotação automática
            });

            // Inicializar o primeiro slide e conteúdo
            showSlide(currentSlide);
            startAutoSlide();
        });

    </script>
    <!--
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var modal = document.getElementById("videoModal");
            var closeButton = document.querySelector(".close-button");
            var youtubeVideo = document.querySelector("#videoModal iframe");
            var videoSrc = youtubeVideo.src; // Salva a URL original do vídeo

            // Função para fechar o modal e parar o vídeo
            function closeModal() {
                modal.style.display = "none";
                youtubeVideo.src = ""; // Remove a URL para parar o vídeo
                youtubeVideo.src = videoSrc; // Reatribui a URL original para que o vídeo possa reiniciar ao reabrir
            }

            closeButton.addEventListener('click', function () {
                closeModal();
            });

            // Fecha o modal ao clicar fora dele
            window.addEventListener('click', function (event) {
                if (event.target == modal) {
                    closeModal();
                }
            });

            // Exibe o modal 1 segundo após carregar a página
            setTimeout(function () {
                modal.style.display = "flex";
            }, 1000);
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var modal = document.getElementById("videoModal");
            var closeButton = document.querySelector(".close-button");
            var youtubeVideo = document.querySelector("#videoModal iframe");
            var videoSrc = youtubeVideo.src; // Salva a URL original do vídeo

            // Função para fechar o modal e parar o vídeo
            function closeModal() {
                modal.style.display = "none";
                youtubeVideo.src = ""; // Remove a URL para parar o vídeo
                youtubeVideo.src = videoSrc; // Reatribui a URL original para que o vídeo possa reiniciar ao reabrir
            }

            closeButton.addEventListener('click', function () {
                closeModal();
            });

            // Fecha o modal ao clicar fora dele
            window.addEventListener('click', function (event) {
                if (event.target == modal) {
                    closeModal();
                }
            });

            // Exibe o modal 1 segundo após carregar a página
            setTimeout(function () {
                modal.style.display = "flex";
            }, 1000);

            // Função para ajustar o tamanho do iframe apenas em dispositivos móveis
            function adjustIframeSize() {
                if (window.innerWidth <= 768) { // Apenas em dispositivos móveis
                    var modalWidth = modal.offsetWidth;
                    var aspectRatio = 16 / 9;

                    // Ajusta o iframe para manter a proporção 16:9
                    youtubeVideo.style.width = "100%";
                    youtubeVideo.style.height = (modalWidth * 0.56) + "px"; // Mantém a proporção 16:9
                } else {
                    youtubeVideo.style.width = "640px"; // Dimensão padrão para desktop
                    youtubeVideo.style.height = "355px"; // Dimensão padrão para desktop
                }
            }

            // Chama a função para ajustar o tamanho do iframe no carregamento
            adjustIframeSize();

            // Também ajusta o tamanho quando a janela é redimensionada
            window.addEventListener('resize', adjustIframeSize);
        });

    </script>
-->
</body>

</html>